<div class="container">
  <table class="table table-dark table-hover table-striped">
    <input type="text" class="form-control" placeholder="Ingrese el nombre de la tarea" [(ngModel)]="query" id="listSearch">
    <thead class="thead-light">
      <tr>
        <th></th>
        <th>Tarea</th>
        <th>Estado</th>
        <th></th>
        <th>Inicio</th>
        <th>Fin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos | search: query">
        <td><img src="{{todo.adjunto}}" style="width: 60px; height: 60px; border-radius: 30px; border: 2px solid #d8ff21"></td>
        <td>{{todo.descripcion}}</td>
        <td *ngIf="todo.estado" style="color: red;">Pendiente</td>
        <td *ngIf="!todo.estado" style="color: green">Resuelto</td>
        <td><button [disabled]="!todo.estado" (click)="getTodo(todo.id)">Resolver</button></td>
        <td>{{todo.inicio}}</td>
        <td>{{todo.finalizado}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div style="width: 70%; padding: 5%;position: relative; top: 1%; left: 15%; justify-content: center; align-items: center; background-color:#454d55; border-color: #262626;">
  <h3 style="color: white">Agregar Nueva Tarea</h3>
  <div class="form-group">
    <label style="color: white; font-size: 20px">Tarea</label>
    <input [(ngModel)]="todoData.descripcion"  type="text" class="form-control" placeholder="Ej: Preparar Café">
    <small class="form-text text-info">Por favor, ingrese una descripción de la tarea.</small>
  </div>
  <div class="form-group">
    <label style="color: white; font-size: 20px">Imagen</label>
    <image-upload buttonCaption="Subir" dropBoxMessage="Arrastra tu imagen aquí..." clearButtonCaption="Limpiar" (uploadFinished)="onUploadFinish($event)"></image-upload>
  </div>
  <button (click)="addTodo()" type="submit" class="btn btn-success">Nueva</button>
</div>
